body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
    color: white;
    text-align: left;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: darkgray;
    color: black;
    text-align: left;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .smallfont{
    font-size: 20px;
  }

  .verysmallfont{
    font-size: 10px;
  }