{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<!-- <div class="content">
  <div class="goodClass">
    <p id=goodId></p>
    <p>Test %</p>
  </div>
  <div class="badClass">
    <p id=badId></p>
    <p>Test %</p>
  </div>
</div> -->

<div class="split left">

  <div class="centered">
    <!-- <img src="{{ url_for("static", filename="angel.png") }}" alt="angel" sizes="5,5"> -->
    
    <p class="smallfont">The good development since start</p>
    <span id=goodId> </span> <span>%</span>
    <br>
    <p class="smallfont">The good current portfolio value</p>
    <span id=goodValue></span><span>$</span>
    <p class="verysmallfont" id="goodnames"></p>
    <p class="smallfont" id="marketIsOpen"></p>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <!-- <img src="{{ url_for("static", filename="devil.png") }}" alt="devil" sizes="5,5"> -->

    <p class="smallfont">The bad development since start</p>
    <span id=badId></span> <span>%</span>
    <br>
    <p class="smallfont">The bad current portfolio value</p>
    <span id=badValue></span><span>$</span>
    <p class="verysmallfont" id="badnames"></p>

  </div>
</div>


<script src={{ url_for("static", filename="/run.js") }}></script>
{% endblock %}